.slider {
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.post_slider {
    color: white;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 30rem;
    justify-content: center;
}


.main_posts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main_posts:hover {
    .more_info {
        background-color: #841844;
        color: white;
    }

    .info {
        color: #841844;
    }
}

.page_num:hover {
    border: 2px solid #841844;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #841844;
    color: white;
}


.pagination {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-top: 5%;
}

.pages {
    width: 30rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-right: 10%;
}

.page_num {
    color: #841844;
    border: 2px solid #841844;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 1s ease;
}

.goto {
    color: #841844;
    border: 2px solid #841844;
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 1s ease;
}

.goto:hover {
    color: white;
    background-color: #841844;
    border: 2px solid #841844;
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.current_page {
    border: 2px solid #841844;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #841844;
    color: white;
}


.more_info {
    color: #841844;
    width: 10rem;
    height: 3rem;
    border: 2px solid #841844;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-self: end;
    flex-direction: column;
    align-items: center;

    transition: all 1s ease;
}

.news {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info_container {
    display: flex;
    margin-right: 10vw;
}

.date {
    color: #6C6E7B;
    background-color: #ECF2F5;
    width: 7rem;
    border-radius: 2rem;
    height: 2.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.post_title {
    font-size: 2.5rem;
    font-weight: 600;
}

.info {
    font-size: 1.4rem;
    font-weight: 600;

    transition: color 1s ease;
}


.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20em;
    gap: 2vw;
    max-width: 100%;
}

.section_title {
    margin-top: 2vw;
    font-size: 3rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    .posts {
        grid-template-columns: 1fr;
    }
}