@font-face {
    font-family: Segoe;
    src: url("assets/Segoe UI.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe", sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.header {
    margin-left: 10%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.planet {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.date {
    color: #6C6E7B;
    background-color: #ECF2F5;
    width: 7rem;
    border-radius: 2rem;
    height: 2.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
}

.post_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slider {
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post_title {
    font-size: 2.5rem;
    font-weight: 600;
}

.post_slider {
    color: white;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 30rem;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.main_posts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main_posts:hover {
    .more_info {
        background-color: #841844;
        color: white;
    }

    .info {
        color: #841844;
    }
}

.image {
    width: auto;
    height: 30vw;
    display: flex;
    justify-content: center;
}

.news {
    margin-left: 10%;
    margin-right: 5%;
}

.pagination {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.pages {
    width: 30rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin-right: 5%;
}

.page_num {
    color: #841844;
    border: 2px solid #841844;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goto {
    color: #841844;
    border: 2px solid #841844;
    width: 5rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_line {
    width: auto;
    border: 1px solid;
    border-color: grey;
}

.back_button {
    color: #841844;
    border: 2px solid #841844;
    width: 15rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current_page {
    border: 2px solid #841844;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #841844;
    color: white;
}

.path {
    margin-left: 10%;
    display: flex;
}

.more_info {
    color: #841844;
    width: 8rem;
    height: 3rem;
    border: 2px solid #841844;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-self: end;
    flex-direction: column;
    align-items: center;

    transition: all 1s ease;
}

.info_container {
    display: flex;
    margin-right: 10vw;
}

a {
    text-decoration: none;
}

.main_info {
    font-size: 1.5rem;
    color: #841844;
}

.info {
    font-size: 1.7rem;
    font-weight: 600;

    transition: color 1s ease;
}




.general_content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    gap: 2.2vw;
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 15em;
    gap: 2vw;
    margin-top: 4vw;
    max-width: 100%;
}

.section_title {
    margin-top: 2vw;
    font-size: 2rem;
}

.footer {
    margin-left: 10%;
    margin-right: 5%;
}

.line {
    width: auto;
    margin-top: 106px;
    border: 1px solid;
    border-color: grey;
}

.copyright {
    height: 32px;
    margin-top: 20px;
    left: 200px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 2cm;
}